.Controllers {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

@media (max-width: 960px) {
    .Controllers {
        width: 60%;
    }
}


@media (max-width: 640px) {
    .Controllers {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .Controllers {
        flex-direction: column;
    }
}